@using HotelOtomation.Domain.Entities
@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Hotels</title>
        <partial name="_HotelsPartialView" model="Model" />
<script>
   $(document).ready(function () {
        $('.slectOne').on('change', function () {
            $('.slectOne').not(this).prop('checked', false);
        });
    });
</script>